{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='learningQuestion.js') }}"></script>

<div class="container learning-question-container">
    <div class="row">
        <div class="col">
            <h2>Check Your Understanding For Lesson {{ item.lessonNumber }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="learning-question">{{ item.content }}</p>
            <img src="{{ item.media }}" alt="Question Media" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for option in item.options %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="options" id="option{{ loop.index }}"
                    value="{{ option.text }}"
                    data-correct="{{ option.correct }}"
                    data-explanation="{{ option.explanation }}">
                <label class="form-check-label" for="option{{ loop.index }}">
                    {{ option.text }}
                </label>
            </div>
            {% endfor %}

            <p id="explanation" style="display:none;"></p> <!-- Modified to be updated dynamically -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button id="resumeLearning" class="btn btn-secondary">Resume Learning</button>
        </div>
    </div>
</div>

<script>
    var lessonNumber = "{{ item.lessonNumber }}";
</script>

{% endblock %}
