{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='learningQuestion.js') }}"></script>

<div class="container learning-question-container">
    <div class="row">
        <div class="col">
            <h2>Check Your Understanding For Lesson {{ item.lessonNumber }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="learning-question">{{ item.content }}</p>

            <center> 
                <iframe height="300" width="500" 
                src="{{ item.media }}"> 
                </iframe> 
             </center>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="options">
                {% for option in item.options %}
                <div class="option" data-correct="{{ option.correct }}" data-explanation="{{ option.explanation | safe }}">
                    {{ option.text }}
                </div>                
                {% endfor %}
            </div>

            <p id="explanation" style="display:none;"></p> 
            <p id = "explanationMedia"> 
                <iframe  height="300" width="500"  
                src="{{ item.explanationMedia }}"> 
                </iframe> 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button id="resumeLearning" class="btn btn-secondary">Resume Learning</button>
        </div>
    </div>
</div>

<script>
    var lessonNumber = "{{ item.lessonNumber }}";
</script>

{% endblock %}
