{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{url_for('static', filename='lesson.js')}}"></script>

<script>
    var lessonNumber = {{ item.number }};
</script>

<body id="lesson-body">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{ item.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ item.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if 'player.vimeo.com' in item.media %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ item.media }}" allowfullscreen></iframe>
                    </div>
                {% else %}
                    <img src="{{ item.media }}" alt="Media" class="img-fluid">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button id="prev" class="btn btn-primary">Previous</button>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                {% if item.learningQuestionId %}
                <!-- This button will only appear if there is a learningQuestionId -->
                <button id="checkUnderstanding" class="btn btn-secondary" onclick="location.href='/learning_question/{{ item.learningQuestionId }}'">
                    Check your understanding
                </button>
                {% endif %}
                <button id="next" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</body>

{% endblock %}