{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='lesson.js') }}"></script>
<script>
    var lessonNumber = {{ item.number }};
</script>

<div id="lesson-body">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{ item.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p id="descirption">{{ item.description }}</p>
            </div>
        </div>
        <div class="row learning-media">
            <div class="col video">
                {% if 'player.vimeo.com' in item.media %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="{{ item.media }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="example3"></iframe>
                    </div>
                {% else %}
                <img src="{{ item.media }}" alt="Media" class="img-fluid lesson-img" id="lesson-img-{{ item.number }}">
                {% endif %}
            </div>
        </div>
        <div class="row learning-btn-container">
            <button id="prev" class="btn btn-primary">Previous</button>
            <div>
                {% if item.learningQuestionId %}
                <button id="checkUnderstanding" class="btn btn-secondary" onclick="location.href='/learning_question/{{ item.learningQuestionId }}'">
                    Check your understanding
                </button>
                {% endif %}
                <button id="next" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
