{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='question.js') }}"></script>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Question {{ item.Qnumber }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{ item.content }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="{{ item.media }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="example3"></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="options">
                {% for option in item.options %}
                <div class="option" data-correct="{{ option.correct }}" data-explanation="{{ option.explanation }}">
                    {{ option.text }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="explanation"></div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex justify-content-end">
            <button id="next" class="btn btn-primary" disabled>Next</button>
        </div>
    </div>
</div>

<script>
    var Qnumber = "{{ item.Qnumber }}";
    var itemType = "{{ item.type }}";
</script>

{% endblock %}
